body {

    overflow-x: hidden; /* Optionally hide horizontal scrollbar if not needed */
}

.background {
    /* Set background properties */
    height: 100vh;
    width: 100vw;
    /* You can also set other properties like background-color, background-repeat, etc. */
}
.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 165px;
    padding-right: 165px;
}

.Category-Header h2{
    margin-left: 225px;
    margin-top: 50px;
}
